.maquina,
.human {
	position: absolute;
	width: 194px;
	height: 194px;
	border: none;
	background-color: rgb(8, 35, 158);
	cursor: pointer;
	border-radius: 100px;
}

.maquina,
.human {
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;

	cursor: default;
	z-index: -10;
}

.maquina::before,
.human::before {
	font-family: inherit;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 0.15rem;
	color: white;
	content: 'Elejiste';
	position: relative;
	top: -80%;
	opacity: var(--showAgain);
	transition: opacity 0.2s 1s;
}

.maquina::before {
	text-align: center;
	content: 'La maquina elijio';
}
