*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--divResDisplay: none;
	--divButtonsDisplay: flex;

	--showAgain: 0;

	--imageBackground: url('../assets/images/bg-triangle.svg');
	--imagenMaquina: url('../assets/images/icon-scissors.svg');
	--imageRock: url('../assets/images/icon-rock.svg');
	--imageScissors: url('../assets/images/icon-scissors.svg');
	--imagePaper: url('../assets/images/icon-paper.svg');

	--showMaquina: 1;
	--rulesMoveY: -2000px;
	--back: -20;
	--backOpacity: 0;
	--background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

	--humanWin: 0;
	--machineWin: 0;

	--gradPaper:
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(230, 54%, 50%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(230, 89%, 62%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
	--gradScissors:
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(39, 87%, 39%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(40, 84%, 53%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
	--gradRock:
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(349, 66%, 43%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(349, 70%, 56%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);

	--positionAndImageButtons: no-repeat center / 35% 40%;

	--shadowWinner:
		0px 0px 0px 50px rgba(181, 202, 247, 0.034),
		0px 0px 0px 100px rgba(181, 202, 247, 0.034),
		0px 0px 0px 160px rgba(181, 202, 247, 0.034);
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
