:root {
	/* --scalePaper: 1;
	--scaleRock: 1;
	--scaleScissors: 1; */
	--divResDisplay: none;
	--divButtonsDisplay: flex;
	/* --movePaperY: 0px;
	--movePaperX: 0px;
	--moveRockY: 0px;
	--moveRockX: 0px;
	--moveScissorsY: 0px;
	--moveScissorsX: 0px; */

	/* --paperOpacity: 1;
	--rockOpacity: 1;
	--scissorsOpacity: 1; */

	--showAgain: 0;

	/* --moveButtonRobotY: 0px;
	--moveButtonRobotX: 0px;
	--scaleButtonRobot: 1;
	--buttonRobotOpacity: 0; */

	--imageBackground: url('../assets/images/bg-triangle.svg');
	--imagenMaquina: url('../assets/images/icon-scissors.svg');
	--imageRock: url('../assets/images/icon-rock.svg');
	--imageScissors: url('../assets/images/icon-scissors.svg');
	--imagePaper: url('../assets/images/icon-paper.svg');

	--showMaquina: 1;
	--rulesMoveY: -2000px;
	--back: -20;
	--backOpacity: 0;
	--background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

body {
	background: var(--background);

	height: 100vh;

	display: flex;
	flex-direction: column;

	align-items: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	letter-spacing: 2px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid 3px hsl(217, 16%, 45%);
	border-radius: 15px;
	padding: 25px 30px;
	width: 80%;
	max-width: 705px;
	min-width: 318px;
	margin-top: 30px;
}

.header__info {
	width: 130px;
	height: 99px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.header__lblScore {
	color: hsl(229, 64%, 46%);
	font-weight: 600;
	font-size: 1rem;
}

.header__numScore {
	color: hsl(229, 25%, 31%);
	font-weight: 700;
	font-size: 3.5rem;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 90%;
	max-width: 550px;

	height: 390px;

	margin-top: 5vh;
}

.contenedor {
	width: 100%;
	height: 100%;
	display: var(--divButtonsDisplay);
	justify-content: center;
	align-items: center;
	position: relative;
	/* container-type: size; */

	background-image: var(--imageBackground);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
}

/* .divResult {
	width: 100%;
	display: none; 
}*/

.divResult {
	position: relative;
	width: 120%;
	display: var(--divResDisplay);
	justify-content: space-around;
	align-items: center;
}

.playAgain {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenedor__paper,
.contenedor__rock,
.contenedor__scissor {
	position: absolute;
	width: 194px;
	height: 194px;
	border: none;
	background-color: rgb(8, 35, 158);
	cursor: pointer;
	border-radius: 100px;
	transition: transform 0.3s;
}

.maquina,
.human {
	width: 194px;
	height: 194px;
	border: none;
	background-color: rgb(8, 35, 158);
	cursor: pointer;
	border-radius: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.maquina--paper {
	background:
		no-repeat center / 35% 40% var(--imagePaper),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(230, 54%, 50%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(230, 89%, 62%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.maquina--scissors {
	background:
		no-repeat center / 35% 40% var(--imageScissors),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(39, 87%, 39%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(40, 84%, 53%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.maquina--rock {
	background:
		no-repeat center / 35% 40% var(--imageRock),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(349, 66%, 43%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(349, 70%, 56%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.contenedor__paper {
	top: 0;
	left: 0;

	background:
		no-repeat center / 35% 40% var(--imagePaper),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(230, 54%, 50%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(230, 89%, 62%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.contenedor__scissor {
	top: 0;
	right: 0;
	background:
		no-repeat center / 35% 40% var(--imageScissors),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(39, 87%, 39%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(40, 84%, 53%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.contenedor__rock {
	bottom: 0;

	background:
		no-repeat center / 35% 40% var(--imageRock),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(349, 66%, 43%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(349, 70%, 56%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.maquina::before,
.human::before {
	font-family: inherit;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 0.15rem;
	color: white;
	content: 'Elejiste';
	position: relative;
	top: -80%;
	opacity: var(--showAgain);
	transition: opacity 0.2s 1s;
}

.maquina::before {
	text-align: center;
	content: 'La maquina elijio';
}

.humano::before {
	text-align: center;
	content: 'Elejiste';
}

.button,
.inpAgain {
	position: relative;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1rem;
	background-color: transparent;
	border: solid 2px hsl(217, 16%, 45%);

	border-radius: 0.5rem;

	padding: 0.6rem 2.25rem;
	color: #fff;
	letter-spacing: 0.15rem;
	cursor: pointer;
	transition: transform 0.3s;
}

.button {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 20px;
}

.rules {
	display: grid;
	grid-template-columns: 50% 30px;
	grid-template-rows: auto auto;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
	position: absolute;
	width: 350px;
	height: 400px;
	font-size: 2rem;
	font-weight: 700;
	background: white;
	transform: translateY(var(--rulesMoveY));
	transition: transform 1s;
	z-index: 30;
}

.image {
	display: block;
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
}

.lblresult {
	margin-bottom: 10%;
	font-family: inherit;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.15rem;
	font-size: 3rem;
}

@media (hover: hover) {
	.button:hover {
		transform: scale(1.1);
	}

	.inpAgain:hover {
		transform: scale(1.1);
	}

	.contenedor__paper:hover,
	.contenedor__rock:hover,
	.contenedor__scissor:hover {
		transform: scale(1.1);
	}
}

.close {
	font-size: inherit;
	font-weight: 600;
	color: #0000006c;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.back {
	position: absolute;
	background-color: #00000080;
	width: 100vw;
	height: 100vh;
	z-index: var(--back);
	opacity: var(--backOpacity);
}

@media screen and (max-width: 750px) {
	.center {
		height: 300px;
	}
	.contenedor__paper,
	.contenedor__rock,
	.contenedor__scissor {
		width: 100px;
		height: 100px;
	}

	.playAgain {
		position: absolute;
		top: 150px;
	}

	.maquina,
	.human {
		width: 100px;
		height: 100px;
	}
}
