:root {
	--divResDisplay: none;
	--divButtonsDisplay: flex;

	--showAgain: 0;

	--imageBackground: url('../assets/images/bg-triangle.svg');
	--imagenMaquina: url('../assets/images/icon-scissors.svg');
	--imageRock: url('../assets/images/icon-rock.svg');
	--imageScissors: url('../assets/images/icon-scissors.svg');
	--imagePaper: url('../assets/images/icon-paper.svg');

	--showMaquina: 1;
	--rulesMoveY: -2000px;
	--back: -20;
	--backOpacity: 0;
	--background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

	--humanWin: 0;
	--machineWin: 0;
}

body {
	background: var(--background);

	height: 100vh;

	display: flex;
	flex-direction: column;

	align-items: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	letter-spacing: 2px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid 3px hsl(217, 16%, 45%);
	border-radius: 15px;
	padding: 15px 25px;
	width: 80%;
	max-width: 705px;
	min-width: 318px;
	margin-top: 30px;
	font-size: 3.5rem;
}

.header__info {
	padding: 0.3em 0.6em;
	border-radius: 0.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.header__lblScore {
	color: hsl(229, 64%, 46%);
	font-weight: 600;
	font-size: 1rem;
}

.header__numScore {
	color: hsl(229, 25%, 31%);
	font-weight: 700;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 90%;
	max-width: 550px;

	height: 390px;

	margin-top: 15vh;
}

.contenedor {
	width: 100%;
	height: 100%;
	display: var(--divButtonsDisplay);
	justify-content: center;
	align-items: center;
	position: relative;
	/* container-type: size; */

	background-image: var(--imageBackground);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
}

/* .divResult {
	width: 100%;
	display: none; 
}*/

.divResult {
	position: relative;
	width: 135%;
	display: var(--divResDisplay);
	justify-content: space-around;
	align-items: center;
}

.playAgain {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: scaleX(var(--showAgain));
	transition: transform 0.5s 1s;
}

.contenedor__paper,
.contenedor__rock,
.contenedor__scissor {
	position: absolute;
	width: 194px;
	height: 194px;
	border: none;
	background-color: rgb(8, 35, 158);
	cursor: pointer;
	border-radius: 100px;
	transition: transform 0.3s;
}

.maquina,
.human {
	width: 220px;
	height: 220px;

	background-color: rgb(8, 35, 158);

	border-radius: 110px;
	position: relative;
}

.maquina::before {
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgb(8, 35, 158);

	position: absolute;
	top: 0;
	border-radius: 50%;
	transform: scale(1.01);
	opacity: var(--showMaquina);
	transition: opacity 1s 1s;
}

.human::after,
.maquina::after {
	width: 100%;
	height: 100%;
	content: '';
	background-color: transparent;

	position: absolute;
	top: 0;
	border-radius: 50%;
	transform: scale(0);
	box-shadow:
		0px 0px 0px 50px rgba(181, 202, 247, 0.034),
		0px 0px 0px 100px rgba(181, 202, 247, 0.034),
		0px 0px 0px 160px rgba(181, 202, 247, 0.034);
	transition: transform 1s 1s;
	z-index: -10;
}

.maquina::after {
	transform: scale(var(--machineWin));
}

.human::after {
	transform: scale(var(--humanWin));
}

.maquina--paper {
	background:
		no-repeat center / 35% 40% var(--imagePaper),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(230, 54%, 50%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(230, 89%, 62%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.maquina--scissors {
	background:
		no-repeat center / 35% 40% var(--imageScissors),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(39, 87%, 39%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(40, 84%, 53%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.maquina--rock {
	background:
		no-repeat center / 35% 40% var(--imageRock),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(349, 66%, 43%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(349, 70%, 56%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.contenedor__paper {
	top: 0;
	left: 0;

	background:
		no-repeat center / 35% 40% var(--imagePaper),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(230, 54%, 50%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(230, 89%, 62%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.contenedor__scissor {
	top: 0;
	right: 0;
	background:
		no-repeat center / 35% 40% var(--imageScissors),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(39, 87%, 39%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(40, 84%, 53%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.contenedor__rock {
	bottom: 0;

	background:
		no-repeat center / 35% 40% var(--imageRock),
		radial-gradient(circle at 50% 46%, transparent 68%, hsl(349, 66%, 43%) 69%),
		radial-gradient(circle at 50% 48%, transparent 50%, hsl(349, 70%, 56%) 51%),
		radial-gradient(
			circle at 50% 57%,
			white 53%,
			hsl(240, 1%, 80%) 54%,
			hsl(240, 1%, 80%) 62%,
			transparent 63%
		);
}

.spanChooseMaq,
.spanChooseHum {
	display: block;
	width: 100%;

	font-family: inherit;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 0.15rem;
	color: white;
	content: 'Elejiste';
	position: absolute;
	top: -30%;
	opacity: var(--showAgain);
	transition: opacity 1s;
	text-align: center;
}

.button,
.inpAgain {
	position: relative;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1rem;
	background-color: transparent;
	border: solid 2px hsl(217, 16%, 45%);

	border-radius: 0.5rem;

	padding: 0.6rem 2.25rem;
	color: #fff;
	letter-spacing: 0.15rem;
	cursor: pointer;
	transition: transform 0.3s;
}

.button {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 20px;
}

.rules {
	display: grid;
	grid-template-columns: 50% 30px;
	grid-template-rows: auto auto;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
	position: absolute;
	width: 350px;
	height: 400px;
	font-size: 2rem;
	font-weight: 700;
	background: white;
	transform: translateY(var(--rulesMoveY));
	transition: transform 1s;
	z-index: 30;
}

.image {
	display: block;
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
}

.lblresult {
	margin-bottom: 10%;
	font-family: inherit;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.15rem;
	font-size: 3rem;
}

@media (hover: hover) {
	.button:hover {
		transform: scale(1.1);
	}

	.inpAgain:hover {
		transform: scale(1.1);
	}

	.contenedor__paper:hover,
	.contenedor__rock:hover,
	.contenedor__scissor:hover {
		transform: scale(1.1);
	}
}

.close {
	font-size: inherit;
	font-weight: 600;
	color: #0000006c;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.back {
	position: absolute;
	background-color: #00000080;
	width: 100vw;
	height: 100vh;
	z-index: var(--back);
	opacity: var(--backOpacity);
}

@media screen and (max-width: 750px) {
	.rules {
		width: 100vw;
		height: 100vh;
	}

	.header {
		font-size: 2rem;
	}

	.header__lblScore {
		font-size: 0.8rem;
	}

	.header__svgTitle {
		width: 100px;
	}

	.contenedor {
		background-size: 200px;
	}

	.divResult {
		top: -50px;
	}

	.center {
		width: 270px;
		height: 250px;
	}
	.contenedor__paper,
	.contenedor__rock,
	.contenedor__scissor {
		width: 120px;
		height: 120px;
	}

	.playAgain {
		position: absolute;
		top: 220px;
	}

	.maquina,
	.human {
		width: 130px;
		height: 130px;
	}

	.spanChooseMaq,
	.spanChooseHum {
		top: 150px;
		font-size: 1.2rem;
	}
}
